@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  header, nav, button, input[type="range"] {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
}
